"*":
  "exception-reporting":
    userId: "c62845f6-8a38-c74f-63f8-fb65bee62ffd"
  welcome:
    showOnStartup: false
  "language-babel": {}
  linter: {}
  core:
    themes: [
      "one-dark-ui"
      "tomorrow-night-eighties-syntax"
    ]
    projectHome: "/Users/ngs/src"
  editor:
    invisibles: {}
    showInvisibles: true
    showIndentGuide: true
    fontFamily: "Source Code Pro"
  "one-dark-ui": {}
