"*":
  core:
    disabledPackages: [
      "autocomplete-flow"
      "ide-flow"
      "linter-flow-plus"
    ]
    projectHome: "/Users/ngs/src"
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "tomorrow-night-eighties-syntax"
    ]
  editor:
    fontFamily: "SFMono-Regular"
    fontSize: 13
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    tabType: "soft"
  "exception-reporting":
    userId: "c62845f6-8a38-c74f-63f8-fb65bee62ffd"
  "go-config":
    gopath: "/Users/ngs/.go"
  "go-plus":
    currentPanelHeight: "23.489583333333332vh"
  "ide-flow":
    flowPath: "/Users/ngs/.nodenv/shims/flow"
  jsformat: {}
  "language-babel": {}
  linter: {}
  "linter-eslint":
    disableWhenNoEslintrcFileInPath: true
  "one-dark-ui": {}
  welcome:
    showOnStartup: false
