[submodule "rc.d/vim/bundle/vundle"]
	path = rc.d/vim/bundle/vundle
	url = git://github.com/gmarik/vundle.git
[submodule "rc.d/vim/bundle/vim-ruby"]
	path = rc.d/vim/bundle/vim-ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule "rc.d/vim/bundle/puppet"]
	path = rc.d/vim/bundle/puppet
	url = git://github.com/rodjek/vim-puppet.git
[submodule "rc.d/vim/bundle/vim-puppet"]
	path = rc.d/vim/bundle/vim-puppet
	url = git://github.com/rodjek/vim-puppet.git
[submodule "rc.d/vim/bundle/vim-slim"]
	path = rc.d/vim/bundle/vim-slim
	url = git@github.com:slim-template/vim-slim.git
[submodule "rc.d/vim/bundle/Vundle.vim"]
	path = rc.d/vim/bundle/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim.git
