.*.swp
.DS_Store
.netrwhist
/.bundle
/rc.d/atom/.apm
/rc.d/atom/.node-gyp
/rc.d/atom/compile-cache/
/rc.d/atom/packages/
/rc.d/atom/storage/
/rc.d/atom/recovery/
/rc.d/vim/bundle/
/rc.d/vim/plugged/
/vendor/ruby/
khal.db
workbench.xmi
/rc.d/atom/blob-store/
/rc.d/atom/github.cson
rc.d/gnupg/*
!rc.d/gnupg/*.conf
!rc.d/btcd/*.conf
!rc.d/btcwallet/*.conf
rc.d/btcd/*
rc.d/btcwallet/*
rc.d/vim/**/*/gocomplete.vim
rc.d/vscode/extensions/*
rc.d/vscode/userdata/workspaceStorage/*
rc.d/karabiner/automatic_backups/*.json
state.vscdb*
