[submodule "vim/bundle/vundle"]
	path = vim/bundle/vundle
	url = git://github.com/gmarik/vundle.git
[submodule "vim/bundle/vim-ruby"]
	path = vim/bundle/vim-ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule "vim/bundle/puppet"]
	path = vim/bundle/puppet
	url = git://github.com/rodjek/vim-puppet.git
[submodule "vim/bundle/vim-puppet"]
	path = vim/bundle/vim-puppet
	url = git://github.com/rodjek/vim-puppet.git
[submodule "vim/bundle/vim-slim"]
	path = vim/bundle/vim-slim
	url = git@github.com:slim-template/vim-slim.git
