Brewfiles/* linguist-language=Ruby
rc.d/npmrc filter=ignore-npmrc
rc.d/codex/config.toml filter=codex-config
rc.d/gemini/settings.json filter=agy-settings
rc.d/claude/settings.json filter=claude-settings
*.colibriTheme diff text
