.*.swp
.DS_Store
.netrwhist
/.bundle
/rc.d/atom/.apm
/rc.d/atom/.node-gyp
/rc.d/atom/compile-cache/
/rc.d/atom/packages/
/rc.d/atom/storage/
/rc.d/vim/bundle/
/vendor/ruby/
khal.db
workbench.xmi
/rc.d/atom/blob-store/
rc.d/gnupg/*
!rc.d/gnupg/*.conf
